# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\d12\GitHub\Real_Time_Data_WareHouse\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
